.container {
    background-color: yellowgreen;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.navlinks {
    width: 25%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size:35px;
    color: #111;
    font-weight: bold;
}

.dot {
    color: cadetblue
}
